# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

ipch
.vs
Win32
weiduodianzi/Debug
weiduodianzi/GeneratedFiles
weiduodianzi/release
hmi/bin
hmi/build
hmi/Makefile
hmi/*.o
hmi/moc_*
hmi/.qmake.stash
pump/weiduodianzi/bin
pump/weiduodianzi/build_desktop
pump/weiduodianzi/.qmake.stash
pump/weiduodianzi/Makefile
pump/weiduodianzi/*.o
pump/weiduodianzi/debug
pump/weiduodianzi/GeneratedFiles
/hmi/build_qt4
/hmi/.cache
/pump/weiduodianzi/build_qt4_desktop
compile_commands.json
.clangd-target
.cache
